html,body{
    height: 100%;
    font-family: 'Hind', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    background: #444444;
}
@media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
}

.white-text{
    color: #e5e4e4da;
}

