html,body{
    height: 100%;
    font-family: 'Hind', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    background: #444444;
}
@media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
}

.white-text{
    color: #e5e4e4da;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

