html,body{
    height: 100%;
    font-family: 'Hind', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    background: #444444;
}

/* sa register to wag nyo pakielaman */
#regiration_form fieldset:not(:first-of-type) {
    display: none;
}

.hidden{
    display: none;
}